input.auth, input::placeholder, .form__field.auth a, .form__field.auth p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

.button.auth {
    font-size: 1.3em;
    border-radius: 3px;
    height: 60%;
    padding: 5px 20px;
    text-transform: capitalize;
}

.larger--text {
    font-size: 1.2em;
}

.auth h2, .auth p {
    margin: 5px 0;
    text-transform: capitalize;
}

.auth p .auth a {
    font-weight: bolder;
}


@media (max-width: 600px) {
    .button.auth {
        width: 100%;
        font-size: 1em;
        padding: 2px 10px;
    }
}