.center-spacey {
    margin: 10px auto;
}

input, input::placeholder, .form__field a, .form__field p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

.button {
    font-size: 1.3em;
    border-radius: 3px;
    /* height: 60%; */
    padding: 5px 20px;
    text-transform: capitalize;
}

.larger--text {
    font-size: 1.2em;
}

h2, p {
    margin: 5px 0;
    text-transform: capitalize;
}

p a {
    font-weight: bolder;
}

.space-left {
    margin-left: 5px;
}

@media (max-width: 600px) {
    .button {
        width: 100%;
        font-size: 1em;
    }
}